/*Universal rules*/
* {
  box-sizing: border-box;
}

body {
  margin: 20px 0 0 0;
  padding: 0;
  background: url(../images/blob.svg) no-repeat center center fixed, linear-gradient(to left, rgb(157, 162, 250), rgb(191, 194, 252) 80%);
  /* background-color: #a3a7fd; */
}

a {
  text-decoration: none;
}

a:active {
  color: black;
}

.btn {
  background-color: #9f75ff;
  background: #9f75ff;
  border-radius: 6px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: 0;
  cursor: pointer
}

.container {
  width: 100%;
}

/*Grid*/
.grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 25px;
  padding: 15px;
}

.grid-container > div {
  border-radius: 5px;
}

/*Navigation*/
.header {
  grid-column: auto;
  background-color: white;
  font-size: 14px;
}

.header ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 9px;
  list-style-type: none;
}

ul.nav li {
  display: inline-block;
  position: relative;
}

.nav-left a {
  color: rgba(0, 0, 0, 0.7);
  margin: 0 5px;
}

.nav-left li::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background-color: #9e75ff;
  transition: all ease-in-out 300ms;
  position: absolute;
  left: 5px;
}

.nav-left li:hover::after {
  width: 70%;
}

.header ul a.active {
  color: black;
}

.nav-btn {
  box-shadow: 0 11px 18px -11px #9f75ffb3;
  padding: 0.875rem;
  color: white !important;
  display: none;
  margin-right: 1rem;
}

.nav-btn:hover {
  background-color: #834efd;
}

.nav-left, .nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-image {
  position: relative;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  margin-left: 1rem;
}

.profile-image img {
  width: 100%;
  height: auto;
  margin-top: -10px;
}

.profile-image:hover {
  opacity: 0.7;
}

.notification {
  position: relative;
  display: inline-block;
}

.bell {
  width: 17px;
}

.notification-count {
  position: absolute;
  right: -4px;
  top: -7px;
  background-color: #9f75ff;
  color: white;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px
}
/*Main*/
.main {
  grid-column: auto;
}

.users {
  padding: 20px;
  min-height: 170px;
  background-color: white;
  border-radius: 5px;
}

.new-users {
  margin-top: 30px;
}

.users h3, h1 {
  margin: 0;
}

.users h3 {
  font-weight: 100;
}

.graph {
  margin-top: 20px;
  text-align: center;
  position: relative;
}

.graph img {
  width: 100%;
}

.graph-dot {
  display: inline-block;
  position: absolute;
  width: 8px;
  height: 8px;
  min-width: 8px;
  min-height: 8px;
  border-radius: 50%;
  background-color: #938ced;
}

.graph .tooltip-text {
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 110%;
}

.graph .tooltip-text::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

/*Menu*/
.menu {
  grid-row: 4/span 1;
  grid-column: auto;
  background-color: #2a2848;
  box-shadow: 0 8px 25px -10px #27207e;
  color: white;
  padding: 1.5rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.menu p {
  text-align: center;
  font-size: 0.9rem;
  margin-top: 1rem;
}

.upgrade-btn {
  width: 80%;
  padding: 0.875rem 1.5rem;
  margin-top: 1rem;
}

.upgrade-btn:hover {
  background-color: #834efd;
}

/*Footer*/
.footer {
  grid-column: auto;
  background-color: white;
  position: relative;
  display: grid;
  grid-template-columns: 1.2fr 1.2fr 1.344fr;
  grid-column-gap: 5px;
  padding: 2.2rem .9rem 1.3rem .9rem;
  font-size: 0.875rem;
}

.progress {
  position: relative;
}

.stat {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 15px;
}

.stat p {
  margin: 0;
  padding: 0;
}

.dot {
  display: inline-block;
  width: 13px;
  height: 13px;
  min-width: 13px;
  min-height: 13px;
  border-radius: 50%;
  margin: 0 5px 3px 0;
}

.dot-1 {
  background-color: #7a72e9;
}

.dot-2 {
  background-color: #938ced;
}

.dot-3 {
  background-color: #af93f1;
}

.bar {
  display: inline-block;
  height: 10px;
  width: 100%;
}

.bar-1 {
  border-radius: 4px 0 0 4px;
  background-color: #7a72e9;
}

.bar-2 {
  background-color: #938ced;
}

.bar-3 {
  border-radius: 0 4px 4px 0;
  background-color: #af93f1;
}

/*Media Queries*/
@media (min-width: 536px) {
  .grid-container {
    grid-template-columns: 47% 47%;
    justify-content: space-between;
  }

  .notification {
    margin: 0 1rem;
  }

  .header {
    grid-column: 1/3;
    font-size: 1.1rem;
  }

  .menu {
    grid-row: 2/auto;
  }

  .footer {
    grid-column: 1/span 2;
  }

  .header ul {
    margin: 15px;
  }

  .bell {
    width: 21px;
  }
}

@media (min-width: 666px) {
  .nav-btn {
    display: block;
  }
}

@media (min-width: 768px) {
  .container {
    width: 95%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .grid-container {
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
  }

  .users {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
  }

  .new-users {
    margin-top: 0;
  }

  .header {
    grid-column: 1/span 3;
  }
  .menu {
    grid-row: 2/span 2;
  }
  .main {
    grid-column: 2/span 2;
    grid-row: 2/auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 25px;
  }
  .footer {
    grid-column: 2/span 2;
  }

  .nav-btn, .profile-image, .notification {
    margin: 0 1.5rem;
  }

  .profile-image {
    margin-right: 0;
  }
}